# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getEnv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgresql://gitpod@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_ENV=development
CLOUDINARY_URL=cloudinary://656543584827147:PIboUB2j34wLFZlbq3zkfD6JuoM@dlmcohidd
STRIPE_KEY=sk_test_51L87AmKEz3UKYat7fd2xcMZ86ttOFOjOO5qEikG7qBuaLjQNWAGdXoyW4ukMijSCiMH3uwAIDQr1MfopowYG4mWV00JnzZercq
SECRET_KEY=rk_test_51L87AmKEz3UKYat7CaSJgqvloe3dhIn1j2QtoQ2eMbhkdbDu9jWt1N3QIQBoh2pRu6TnXgMRZc8RtIjjWx52m4Bu00g9hMTxW9

# Front-End Variables
BASENAME=/
