.left-col-landing {
  background-color: rgb(51, 144, 194);
  border-radius: 20px;
  height: 78vh;
  display: flex;
  align-items: center;
}

.logo-login-page {
  width: 24rem;
}

.btns-landing {
  width: 82%;
}

.log-options {
  width: 100%;
}
