.fsize {
  width: 50px;
}
.navbar {
  background-color: rgb(51, 144, 194);
}
.button-log {
  width: 4000px;
}

.img-ilutrator {
  width: 200px;
  height: 200px;
}
.reg-div {
  box-shadow: white;
}
p {
  font-family: "Racing Sans One";
  font-size: 24px;
}

.cabecera2 {
  color: rgb(0, 0, 0);
}

.cabecera3 {
  color: rgb(0, 0, 0);
}

.btn {
  color: rgb(42, 59, 83);
  font-size: 18px;
}

.btn-outline-light {
  color: white;
}

.principal {
  font-family: "Courgette", cursive;
  font-size: 34px;
}

.bhome {
  color: white;
  font-size: 24px;
}

.bover {
  color: white;
  font-size: 32px;
  border: none;
}

.row {
  display: flex;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: black;
}

.title {
  text-decoration: none;
  color: black;
}

.i-rrss {
  color: rgba(255, 255, 255, 0.815);
}
