.generaldiv {
  background-color: rgb(51, 144, 194);
}
.login-title {
  color: white;
}

div .main-box-login {
  background-color: rgba(0, 0, 0, 0.322);
  width: 50vmax;
  margin-top: 100px;
}

.logo-login {
  width: 180px;
  height: 80px;
}

.icono-back {
  padding-top: 25px;
  padding-left: 25px;
  font-size: 30px;
}

.fa-arrow-left {
  color: white;
}
