@import "~bootstrap/dist/css/bootstrap.css";

div .account-type-box {
  margin-top: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(14, 14, 14, 0.342);
}

.base-register {
  background-color: rgb(51, 144, 194);
}

.main-box-register {
  background-color: rgb(51, 144, 194);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo-selector-cuenta {
  color: white;
}
.arrow-left-reg1 {
  width: 50px;
}

div .rw-logo {
  background-color: rgb(51, 144, 194);
}

.logo-register {
  width: 180px;
  height: 80px;
}
.register-title {
  font-size: 28px;
  padding-top: 5px;
}

.rw-main-box-register {
  background-color: rgb(51, 144, 194);
  margin-top: 105px;
  text-align: justify;
}

.input-basic-register {
  padding-bottom: 15px;
}
.input-text-register {
  font-size: 12px;
}

.form-control {
  width: 280px;
}

.img-account-type {
  width: 200px;
}

.btt-account-type {
  width: 300px;
  height: 260px;
  color: black;
}

.btt-account-type-over {
  background-color: rgba(154, 211, 243, 0.65);
  width: 300px;
  height: 260px;
}

.dropdown-toggle {
  background-color: white;
}
.custom-select {
  width: 325px;
}

.input-group-text {
  width: 140px;
  justify-content: center;
  background-color: rgb(189, 226, 247);
  border: none;
}

.icono-atras {
  color: rgb(51, 144, 194);
}
